header {
    background-color: aqua;
    color: black;
    padding: auto;
    text-align: center;
}

.info h2 {
    background-color: lightblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.info h3 {
    background-color: lightgreen;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
